* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 126, 0);
    padding-top: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}

.name {
    font-size: 30px;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    margin-top: 8px;
}

#button {
    width: 50px;
    height: 30px;
    font-size: medium;
    margin-top: 11px;
    background-color: rgb(100, 100, 100);
    border: 3px;
    border-radius: 25%;
}

/* Fin du CSS sur le header */






main {
    background-color: rgb(26, 26, 26);
}

h1 {
    text-align: center;
    color: rgb(156, 0, 0);
    text-decoration: underline;
    margin-top: 70px;
    font-size: 25px;
    padding-top: 5%;
    margin-bottom: 25px;
}

.dev h1 {
    font-size: 38px;
}

.dev h2 {
    font-size: 20px;
    text-align: center;
    color: rgb(10, 126, 0);
}

.port img {
    height: 150px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 35px;
}

.propos {
    text-align: center;
}

.propos p {
    margin-bottom: 20px;
    color: rgb(10, 126, 0);
    margin-left: 50px;
    margin-right: 50px;
    font-size: larger;
}

.comp img {
    height: 60px;
    width: 60px;
    margin: 15px;
}

/* Fin du CSS sur le main */






.main3 {
    overflow-x: scroll;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.main3_flex {
    display: flex;
    width: 800px;
    padding: 10px 0;
}

.liveBox {
    margin-left: 12px;
}

.liveBox:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.liveBox img {
    width: 320px;
    height: 320px;
    border-radius: 15px;
}

.liveBox h2 {
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
}

.main3 h2 {
    color: white;
}

/* Fin du slider */






footer {
    background-color: rgb(10, 126, 0);
    height: 50px;
    padding-top: 12px;
}

footer img {
    height: 30px;
    width: 30px;
    margin-left: 47%;
}

/* Fin du CSS sur le footer */